<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden de Pago {{pago.numero_tramite}} </title>
</head>
<body>

  {{pago}}
    <div class="card  mb-3">

        <div class="col-sm-12">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Datos del Pago
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  
                  <li class="list-group-item">
                    <strong >Nombre del Tramite:</strong>
                    {{pago.datos_cobro}}
                  </li>

                  <li class="list-group-item">
                    <strong >Monto a Pagar:</strong>
                    ${{pago.importe_total}}
                  </li>

                  <li class="list-group-item">
                    <strong >Descripción del Pago:</strong>
                    {{pago.datos_cobro.descripcion}}
                  </li>

                  <li class="list-group-item">
                    <strong >Folio de seguimiento:</strong>
                    {{pago.numero_tramite}}
                  </li>

                  <li class="list-group-item">
                    <strong >Codigo de Pago:</strong>
                    {{pago.datos_cobro.id}}
                  </li>

                  <li class="list-group-item">
                    <strong >Tipo de Pago:</strong>
                    {{pago.datos_cobro.tipo_Cobro}}
                  </li>
                  

                  <li class="list-group-item">
                    <strong >Aplicación de Beca:</strong>
                    {{pago.datos_alumno.beca}}
                  </li>

                  <li class="list-group-item">
                    <strong >No de Referencia Bancaria: </strong>
                    1232522726688302234
                  </li>


                </div>
              </div>

          </div>
        </div>
      </div>


      <div class="col-sm-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Datos del Alumno
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                
                <li class="list-group-item">
                  <strong >Nombre:</strong>
                  {{pago.datos_alumno.nombre}} {{pago.datos_alumno.apellido_primero}} {{pago.datos_alumno.apellido_segundo}}
                </li>

                <li class="list-group-item">
                  <strong >Matricula:</strong>
                  {{pago.datos_alumno.matricula}}
                </li>

                <li class="list-group-item">
                  <strong >Domicilio:</strong>
                  {{pago.datos_alumno.domicilio}}
                </li>

                <li class="list-group-item">
                  <strong >Carrera:</strong>
                  {{pago.datos_alumno.carrera}}
                </li>

                <li class="list-group-item">
                  <strong >Teléfono:</strong>
                  {{pago.datos_alumno.telefono}}
                </li>

                <li class="list-group-item">
                  <strong >Email:</strong>
                  {{pago.datos_alumno.email}}
                </li>
                
                <li class="list-group-item">
                  <strong >Grado ó Cuatrimestre:</strong>
                  {{pago.datos_alumno.grado}}
                </li>


              </div>
            </div>

        </div>
      </div>
    </div>
        
        <div class="d-grid gap-2">
          <input class="btn btn-lg btn-success " type="submit" value="Imprimir Orden">
        </div>


      
    
  </div>
  


    
</body>
</html>