@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
body {
  font-family: "Lato", sans-serif;

}



.main-head{
  height: 100px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  width: 100%;
  background-image: url("img/utt.jpg");
  
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 50%; 
  }

  .sidenav{
      width: 45%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 18%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff ;
  text-decoration: #FFF;
  text-shadow: 0 0 110px #fff;
  text-align: center;

}

.login-main-text h1{
  font-weight: 300;
  font-family: 'Dela Gothic One', cursive;
}

.btn-black{
  background-color: #00a887 !important;
  color: #fff !important;
}