Control_de_Pagos/__pycache__

core/__pycache__
core/migrations
core/migrations/__pycache__

alumnos/__pycache__
alumnos/migrations
alumnos/migrations/__pycache__

pagos/__pycache__
pagos/migrations
pagos/migrations/__pycache__


grados_carreras/__pycache__
grados_carreras/migrations
grados_carreras/migrations/__pycache__

*.sqlite3