#Todas las bibliotecas aqui son esenciales para ejecutar la aplicacion
#pip install -r requeriments.txt
#Crispy-forms
#django-crispy-forms
#Pillow
django-crispy-forms==1.11.2
pillow==8.2.0
django==3.2.2