{% extends 'componentes/base.html' %}

{% load static %}

{% block headers %} <link rel="stylesheet" href="{% static 'css/login.css' %}">  {% endblock %}

{% block title %}Acceso{% endblock %}

{% block contentIndex %}

{% if request.user.is_authenticated %}
    <script>window.location.href = '/accounts/profile/'; </script>
  {% endif %}
      {% if form.non_field_errors %}
        {% include "componentes/icons.html" %} 
        <div class="alert alert-danger d-flex align-items-center aviso" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill"/>
          </svg>
          <div>
            Usuario o contraseña incorrectos, prueba de nuevo.
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      {% endif %}     
      <div class="col-md-9 mx-auto mb-5">
        {% if 'register' in request.GET %}
          <p style="color:green;">Usuario registrado correctamente, ya puedes identificarte.</p>
        {% endif %}
        
      <div class="login-form">   
        <form class="contenedor" action="" method="post">
        {% csrf_token %}
          <h3 class="mb-4">Iniciar sesión</h3>
            <h2 class="text-center">Login</h2>       
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required" name="username" id="id_username">
            </div>
            <br>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required" name="password" id="id_password">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block col-12">Login</button>
            </div>
            <br>
            <div class="clearfix">
                <label class="pull-left checkbox-inline"><input type="checkbox"> Rememberme</label>
                
            </div>        
        </form>
       
       
    </div>
{% endblock %} 
