{% extends 'componentes/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block seccion %}Informacion del Usuario{% endblock %}
{% block pista %}<li class="breadcrumb-item active" aria-current="page">Perfil</li>{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="row">
            <!-- Previa del avatar -->
                          <div class="col-sm-13">
                            <div class="card mb-3" style="max-width: 840px;">
                                <div class="row g-0">
                                  <div class="col-md-8">
                                  <h3>Perfil</h3>
                                    <div class="card-body"> 
                                    <div class="row align-items-center justify-content-start">
                                    <div class="col-sm-5" >
                                      <h3>{{profile.user}}</h3>
                                      </div>
                                        </div>     
                                        <div class="input-group mb-3" >                                                                           
                                              {% if request.user.profile.avatar %}
                                              <img src="{{request.user.profile.avatar.url}}" class="img-fluid"> 
                                              <div class="col-sm-2" >
                                              <p class="mt-1">¿Borrar? <input type="checkbox" id="avatar-clear" name="avatar-clear" /></p>
                                          </div>  
                                                {% else %}
                                              <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
                                              {% endif %}
                                              <div class="row align-items-center justify-content-start">
                                                <div class="col-sm-5" >
                                              <input type="file" name="avatar" class="form-control-file mt-3" id="id_avatar">    
                                    </div>
                                  </div>
                                </div>
                                </div>
                                  </div>
                                </div>
                              </div>
                              </div>
            <!-- Formulario -->

              {{ form.bio }}
              {{ form.telefono }}
               {{ form.nombre }}
                {{ form.apellidos }}
                 {{ form.clave }}
                 {{ form.domicilio }}
              {{ form.link }}
              <input type="email" value="{{request.user.email}}" class="form-control mt-3" readonly>
              <p class="mt-3">
                Si deseas editar tu email haz clic <a href="{% url 'profile_email' %}">aquí</a>.<br>
                Y si quieres cambiar tu contraseña haz clic <a href="{% url 'password_change' %}">aquí</a>.
              </p>
              <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}


                        