{% extends 'componentes/base.html' %}
{% load static %}
{% block title %}Perfil{% endblock %}
{% block seccion %} <i class="fa fa-user"></i> Informacion del Usuario{% endblock %}
{% block pista %}<li class="breadcrumb-item active" aria-current="page">Perfil</li>{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!--<style>.errorlist{color:red;} label{display:none}</style>-->


        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="container">
            <div class="row justify-content-end">
            <!-- Previa del avatar -->
            <div class="col-sm-13">
              <div class="card mb-3" style="max-width: 640px;">
                  <div class="row g-0">
                      <div class="col-md-4">
                          <img id="profileImage" src="{% static 'css/img/profile.jpg' %}"
                              class="img-fluid rounded-start" alt="Imagen del Perfil">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <div class="input-group mb-3">
                                {{ form.avatar|as_crispy_field  }}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row align-items-center justify-content-start">

          <div class="col-sm-6 form-floating">         
            {{ form.nombre|as_crispy_field }}   
          </div>
          <div class="col-sm-6 form-floating"> 
            {{ form.apellidos|as_crispy_field  }}
          </div>

      </div>

      <div class="row align-items-center justify-content-start">
          <div class="col-sm-6 form-floating"> 
            {{ form.clave|as_crispy_field  }}
          </div>
          <div class="col-sm-6 form-floating"> 
            {{ form.link|as_crispy_field  }}
          </div>
      </div>

      <div class="row align-items-center justify-content-start">
          <div class="col-sm-6 form-floating"> 
            {{ form.domicilio|as_crispy_field  }}
          </div>
          <div class="col-sm-6 form-floating"> 
            {{ form.telefono|as_crispy_field  }}
          </div>
      </div>

      <div class="row align-items-center justify-content-start">
          <div class="col-sm-6 form-floating"> 
            {{ form.bio|as_crispy_field  }}   
          </div>

          <div class="col-sm-6 form-floating"> 
            <br>
            <a class="btn btn-warning" href="{% url 'profile_email' %}"><i class="fa fa-at"></i> Cambiar Correo Electronico</a>
            
            <a class="btn btn-danger" href="{% url 'password_change' %}"><i class="fa fa-lock"></i> Cambiar Contraseña</a>
          </div>
          
         
      </div>
              
              <input type="submit" class="btn btn-primary btn-block mt-3" value="Actualizar">
            
          </div>
          
        </form>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
<script defer src="{% static 'js/formComponents.js' %}"></script>

{% endblock %}