<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="w3-ul w3-card-4 w3-large" style="width:50%; position: relative; left: 300px;">
        <li class="w3-grey"><h3>Datos Personales</h3></li>
        <li><strong>idCarrera: </strong>  {{carrera.idCarrera}}</li>
        <li><strong>carrera: </strong> {{carrera.carrera}}</li>
        <li><strong>Grado: </strong> {{carrera.grado}}</li>
    </ul>
</body>
</html>