{% extends 'componentes/base.html' %}

{% load static %}

{% block title %}Lista de Grados{% endblock %}
{% block seccion %}<i class="fa fa-sitemap icono"></i> Lista de Carreras{% endblock %}
{% block pista %}<li class="breadcrumb-item active" aria-current="page">Grados y Carreras</li>{% endblock %}
{% block content %}
<br>
<div class="w3-row container-center">
  <table class="w3-table-all w3-card-4"">
      <thead class="font-weight-bold">
          <tr>
              <td>#Id</td>
              <td>Nombre</td>
              <td>Nivel</td>
              
          </tr>
      </thead>
    {% for grado in grados %}
    <tr>
      <td> 
        <a href="{% url 'Grado' grado.idCarrera %}">
            {{grado.idCarrera}}
        </a>
      </td>
      <td>{{grado.carrera}}</td>
      <td>{{grado.cantidad_grados}}</td>
      <td>{{grado.cantidad_grupos}}</td>
    </tr>
    {% endfor %}


    {% endblock %}