{% extends 'componentes/base.html' %}

{% load static %}

{% block title %}Registro Carrera {% endblock %}
{% block seccion %}<h2>Registrar Carrera</h2>{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row justify-content-end">

            <div class="main">
                <div class="container">

                    <div class="row justify-content-end">

                        <form>

                            <div class="row align-items-center justify-content-start">

                                <div class="class=col-4">
                                    {{form.idCarrera|as_crispy_field}}
                                </div>

                            </div><br>

                            <div class="row align-items-center justify-content-start">
                                <div class="class=col-4">
                                    {{form.carrera|as_crispy_field}}
                                </div>
                               
                            </div>
                            <div class="row align-items-center justify-content-start">
                                <div class="class=col-4">
                                    {{form.nivel|as_crispy_field}}
                                </div>
                                
                            </div>
                            <div class="row align-items-center justify-content-start">
                                <div class="class=col-4">
                                    {{form.grado|as_crispy_field}}
                                </div>
                                
                            </div>
                            <div class="row align-items-center justify-content-start">
                                <div class="class=col-4">
                                    {{form.cantidad_grupos|as_crispy_field}}
                                </div>
                                
                            </div>
                    </div><br>
                    <div class="d-flex justtify-content-end">
                        <input type="reset" value="Cancelar" class="btn btn-secondary">
                        &nbsp;
                        <input type="submit" value="Guardar" class="btn btn-primary">
                    </div>
                </div><br>
               
            </div>
        </div>
</form>
{{mensaje}}
</div>
</div>
</div>

{% endblock %}