{% extends 'componentes/base.html' %}

{% load static %}

{% block title %}Registro Carrera {% endblock %}
{% block seccion %}<i class="fa fa-plus-circle "></i> Registrar Carrera{% endblock %}
{% block pista %}
  <li class="breadcrumb-item"><a href="{% url 'muestraGrados' %}">Grados y Carreras</a></li>
  <li class="breadcrumb-item active" aria-current="page">Registrar una carrera</li>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<form action="" method="POST">
    {% csrf_token %}
    {{mensaje}}
    <div class="container">
        <div class="row justify-content-end">

                <div class="container">

                    <div class="row justify-content-end">
                        
                        

                            <div class="row align-items-center justify-content-start">

                                <div class="col-sm-6">
                                    {{form.idCarrera|as_crispy_field}}
                                </div>
                                <div class="col-sm-6">
                                    {{form.carrera|as_crispy_field}}
                                </div>
                               

                            </div>

                            <div class="row align-items-center justify-content-start">
                                <div class="col-sm-6">
                                    {{form.nivel|as_crispy_field}}
                                </div>
                                <div class="col-sm-6">
                                    {{form.cantidad_grados|as_crispy_field}}
                                </div>
                                
                            </div>
                           
                            <div class="row align-items-center justify-content-start">
                                <div class="col-sm-6">
                                    {{form.cantidad_grupos|as_crispy_field}}
                                </div>
                                
                            </div>
                    </div><br>
                    <div class="row align-items-center justify-content-start" style="position: relative; top: 10px;">
                
                        <div class="d-grid gap-2">
                            <input class="btn btn-lg btn-success " type="submit" value="Guardar">
                        </div>
        
        
                    </div>
                </div><br>
               
            </div>
        </div>
</form>




{% endblock %}