{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/W3/w3.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/alumno.css' %}">
    {% block headers %}{% endblock %}
    <title>Control de Pagos | {% block title %} {% endblock %}</title>

  </head>
  <body>
    <div id="back"  >
  
    </div>
  {% if user.is_authenticated %}
      {% include "componentes/sidebar.html" %} 
  {% endif %}


  

<div id="main">
  {% include "componentes/nav.html" %} 

  

<div id="contenido"  class="container">

  {% if user.is_authenticated %}
  <div id="sectionBread" class="card">
    <nav id="breadcrumber"  aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        {% block pista %}{% endblock %}
      </ol>
    </nav>
  </div>
  {% endif %}


      {% if user.is_authenticated %}
    
        <div  id="marco" class="card">
          <div class="card-header">
            <h3>{% block seccion %}{% endblock %}</h3>
          </div>
          <div class="card-body">
            {% block content %}{% endblock %}
          </div>
        </div>
        
    
      {% else %}
        {% block contentIndex %}{% endblock %}
      {% endif %}
      
        
        
    
    
    </div>

</div>
    {% block scripts %} {% endblock %}
    <script defer src="{% static  'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static  'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
    <script defer src="{% static  'vendor/popper/popper.min.js' %}"></script>
  </body>
</html>
