{% if user.is_authenticated %}
  <div class="w3-teal" id="nave">
  <button id="openNav" class="w3-button w3-teal w3-xlarge w3-hover-black" onclick="w3_open()"><span id="menu">&#9776;</i></span></button>
  <div class="w3-display-topmiddle">
    <div class="w3-container"  >
      <h3>Control de Pagos</h3>  
    </div>
  </div>
  
    <div id="dropUser" class="w3-dropdown-click w3-display-topright">
      
      <button onclick="dropDownUser()" id="ddu" class="w3-button"><i id="iconUser"  class="fa fa-user"></i>   {{request.user}} <i class="fa fa-angle-down"></i></button>
      <div   id="listAction" class="w3-dropdown-content w3-bar-block w3-card-4" >
      <a href="{% url 'signup' %}" class="w3-bar-item w3-button">Crear Perfil</a>
      <a href="{% url 'profiles:list' %}" class="w3-bar-item w3-button">Perfiles creados</a>
      <a href="{% url 'profile' %}" class="w3-bar-item w3-button">Configurar Perfil</a>
      <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Cerrar Sesion</a>
      </div>
    </div>

  
    
 
</div>
{% else %}
<nav id="navegacion">
  <div class="w3-teal">
    <div class="w3-container"  >
        <h3 id="titulo" class="mx-auto text-center">Control de Pagos</h3>  
    </div>
  </div>

  
</nav>
{% endif %}