{% if user.is_authenticated %}
    <div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()"><span id="menu">&#9776;</i></span></button>
  <div class="w3-display-topmiddle">
    <div class="w3-container"  >
      <h3>Control de Pagos</h3>  
  </div>
  </div>
 
</div>
{% else %}
<nav id="navegacion">
  <div class="w3-teal">
    <div class="w3-container"  >
        <h3 style="position: relative; left: 550px;">Control de Pagos</h3>  
    </div>
  </div>
</nav>

{% endif %}