 
<div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    
    <span class="fs-4"> {% block headers %}{% endblock %} </span>
  </a>
  <hr>
 <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active">
            
            Registro Alumnos
            </a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link text-white">
            
        Pagos
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white">
            Reportes
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white">
            Grados y Carreras
        </a>
        </li>
        <li>
        <a href="#" class="nav-link text-white">
            Registro de pago
        </a>
        </li>
    
    </ul>
</div>
</div>