<div class="w3-sidebar w3-bar-block  w3-card w3-animate-left" style="display:none" id="mySidebar">
   <!-- <button class="w3-bar-item  w3-teal w3-button " onclick="w3_close()">Cerrar &times;</button>-->
   <button class="w3-button  w3-block w3-left-align w3-teal" id="titulo_sidebar" onclick="w3_close()">
    <i class="fa fa-arrow-left icono"></i> <span class="seccion">Sistema de Pagos</span> <span class="flecha"><i class="fa fa-github-alt"></i></span>
   </button>

    <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc()">
       <i class="fa fa-graduation-cap icono"></i> <span class="seccion">Alumnos</span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
    </button>
    
    <div id="demoAcc" class="w3-hide w3-white w3-card ">
            <a href="{% url 'muestraAlumnos' %}" class="w3-bar-item w3-button w3-border-bottom">Lista Alumnos</a>
            <a href="{% url 'registroAlumnos' %}" class="w3-bar-item w3-button">Registrar nuevo Alumno</a>
    </div>
   

  <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc1()">
        <i class="fa fa-credit-card icono"></i> <span class="seccion">Pagos</span>  <span class="flecha"><i class="fa fa-angle-down"></i></span>
    </button>
      <div id="demoAcc1" class="w3-hide w3-white w3-card">
        <a href="{% url 'lista_pago' %}" class="w3-bar-item w3-button">Lista de Pago</a>
        <a href="{% url 'registro_pago' %}" class="w3-bar-item w3-button w3-border-bottom">Registrar  Pago</a>
          
      </div>
<!--boton Reportes-->
<button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc2()" >
  <i class="fa fa-file-text icono"></i> <span class="seccion">Reportes </span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
</button>
  <div id="demoAcc2" class="w3-hide w3-white w3-card">
      <a href="{% url 'reporte' %}" class="w3-bar-item w3-button">Lista de Reportes</a>
      <a href="{% url 'registro' %}" class="w3-bar-item w3-button w3-border-bottom">Registrar  Reporte</a>
      
  </div>
<!--boton Grados y Carreras-->
<button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc3()" >
  <i class="fa fa-sitemap icono"></i> <span class="seccion">Grados y Carreras </span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
</button>
  <div id="demoAcc3" class="w3-hide w3-white w3-card">
      <a href="{% url 'registroGrados' %}" class="w3-bar-item w3-button w3-border-bottom">Registrar  Carrera</a>
      <a href="{% url 'muestraGrados' %}" class="w3-bar-item w3-button">Lista de Carreras</a>
  </div>
<!--boton Registro de Pago-->
<button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc4()" >
  <i class="fa fa-list-alt icono"></i> <span class="seccion">Registro de Pago</span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
</button>
  <div id="demoAcc4" class="w3-hide w3-white w3-card" >
      <a href="{% url 'registro_pago' %}" class="w3-bar-item w3-button w3-border-bottom">Registrar  Pago</a>
      <a href="{% url 'lista_pago' %}" class="w3-bar-item w3-button">Lista de Pago</a>
  </div>
  
  <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc5()">
    <i class="fa fa-user icono"></i> <span class="seccion">Usuario</span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
  </button>
    <div id="demoAcc5" class="w3-hide w3-white w3-card">
        <a href="{% url 'signup' %}" class="w3-bar-item w3-button w3-border-bottom">Crear Perfil</a>
        <a href="{% url 'profile' %}" class="w3-bar-item w3-button">Configurar Perfil</a>
        <a href="{% url 'profiles:list' %}" class="w3-bar-item w3-button">Perfiles creados</a>
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-danger">Cerrar Sesion</a>
    </div>
  
        
</div>

