{% extends 'componentes/base.html' %}

{% load static %}
{% block title %}Informacion del Alumno{% endblock %}
{% block seccion %}Informacion del Alumno{% endblock %}
{% block content %}

<br><br>
        <ul class="w3-ul w3-card-4 w3-large" style="width:50%; position: relative; left: 300px;">
            <li class="w3-grey"><h3>Datos Personales</h3></li>
            <li><strong>Edicion</strong> <a href="{% url 'editarReporte' reporte.idReporte %}">Editar</a></li> 

            <li><strong>ID del Reporte: </strong>  {{reporte.idReporte}}</li>
            <li><strong>Matricula del Almno: </strong> {{reporte.matricula}}</li>
            <li><strong>Concepto: </strong> {{reporte.cobro}}</li>
            <li class="w3-grey"><h3>Datos Academicos</h3></li>
            <li><strong>Nombre del Alumno: </strong>  {{reporte.nombreDeudor}}</li>
            <li><strong>Grado: </strong>  {{reporte.grado}}</li>
            <li><strong>Carrera: </strong>  {{reporte.carrera}}</li>
            <li class="w3-grey"><h3>Datos de Contacto</h3></li>
            <li><strong>Monto a Pagar: </strong>{{reporte.cantidadDeudo}}</li>
        </ul>
   

{% endblock %}