{% extends 'componentes/base.html' %}

{% load static %}

{% block title %}Editar Cobro{% endblock %}
{% block seccion %}Editar Cobro{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<br><br>
        <form action="" method="post">
          {% csrf_token %}
  
          <div class="container">
            <div class="row justify-content-end">
            
          <div class="main">
            <div class="col-md-8 col-sm-12">
              <div class="login-form">
                <form>
                  <div class="form-group">
                    
                    <div class="input-group">
                      {{form.nombre|as_crispy_field}}
                    </div>
                  </div><br>
                  <div class="form-group">
                    
                    <div class="input-group">
                      {{form.descripcion|as_crispy_field}}
                    </div>
                  </div><br>
                  <div class="form-group">
                   
                    <div class="input-group">
                      {{form.monto|as_crispy_field}}
                    </div>
                  </div><br>
              
                  <div class="form-group">
                    
                    <div class="input-group">
                      {{form.fecha|as_crispy_field}}
                    </div>
                  </div><br>
                  <div class="form-group">
                    
                    <div class="input-group">
                      {{form.tipo_Cobro|as_crispy_field}}
                    </div>
                  </div><br>

          <div class="d-flex justtify-content-end">
            <input type="reset" value="Cancelar" class="btn btn-secondary">
            &nbsp;
            <input type="submit" value="Guardar" class="btn btn-primary">
          </div>
        </form>
        {{mensaje}}
      </div>
    </div>
  </div>
</div>
  
    {% endblock %}