html {
    height: 100%;
}
body {
    min-height: 100%;
}
#marco{
    position: relative;
    top: 60px;
    z-index: 0;
}

.asteriskField {
    display: none;
}

#main{
    position: relative;
    top: 50px;
    z-index: 0;
    
}

.botoIdentify{
    width: 100px;
}