html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: #ebecf1;;
}
#marco{
    position: relative;
    top: 60px;
    z-index: 20;
    border-radius: 15px;
}

.asteriskField {
    display: none;
}

#main{
    position: relative;
    top: 50px;
    z-index: 0;
    
}

.botoIdentify{
    width: 100px;
}

.cabezera{
    background-color: #6c7ae0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 40;
}