
#main{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('img/utt.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

#navegacion{
  position: relative;
}

#content{
  position: relative;
  top: 150px;
}

#content_auth{
  position: relative;
  top: 150px;
}
