@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  font-family: "Lato", sans-serif;
  background-image: url('img/utt4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.mantra{
  background-color: white;
}

.contenedor{
  position: relative;
  background-color: #fff;
  left: 26%;
  top: 30px;
  width: 400px;
  height: 400px;
  padding: 50px;
  z-index: initial;
}
.contenedor1{
  position: relative;
  background-color: #fff;
  left: 26%;
  top: 30px;
  width: 400px;
  height: 400px;
  padding: 50px;
  z-index: initial;
}
.aviso{
  position: relative;
  width: 100%;  
  z-index: 3;
}

.ocultar{

  animation-name: desaparece;
  animation-duration: 1s;
  opacity: 0;
}

@keyframes desaparece {
  from {opacity: 100;}
  to {opacity: 0;}
}


/*pantalla 992*/
@media only screen and (max-width: 992px) {
 
  .contenedor{
    position: relative;
    left: 10%;
    top: 100px;
    width: 400px;
    height: 400px;
    padding: 50px;
    margin-left: 20%;
    background-color: #ffffff00;
  }
  .aviso{
    position: relative;
    width: 100%;  
    z-index: 3;
}




}

@media only screen and (max-width: 600px) {

  .contenedor{
    position: relative;
    
    margin: 0;
    left: initial;
    top: initial;
    width: 100%;
  }

  .aviso{
    position: relative;
    width: 100%;  
    z-index: 30;
}





}