@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  font-family: "Lato", sans-serif;
  background-image: url('img/utt.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.contenedor{
  position: relative;
  background-color: #fff;
  left: 26%;
  top: 100px;
  width: 400px;
  height: 400px;
  padding: 50px;
  z-index: initial;
}
.aviso{
    position: relative;
    width: 400px;
    top: 30px;
    left: 350px;
    z-index: 3;
}

/*pantalla 992*/
@media only screen and (max-width: 992px) {
 
  .contenedor{
    position: relative;
    
    left: 10%;
    top: 100px;
    width: 400px;
    height: 400px;
    padding: 50px;
    
  }
  .aviso{
    position: relative;
    width: 400px;
    top: 30px;
    left: 150px;
    z-index: 3;
}



}

@media only screen and (max-width: 600px) {

  .contenedor{
    position: relative;
    
    margin: 0;
    left: initial;
    top: initial;
    width: 100%;
  }

  .aviso{
    position: relative;
    width: 400px;
    top: 30px;
    left:40px;
    z-index: 3;
}

}