
#dropUser{
    margin-right: 60px;
}
#iconUser{
    margin-right: 20px;
}
#imgUser{
    object-fit: cover;
    border-radius: 50px;
    position: relative;
    width: 35px;
    height: 35px;
}
#nave{
    z-index: 2;
    
}
