
#dropUser{
    margin-right: 60px;
    z-index: 1;
}
#iconUser{
    margin-right: 20px;
}
#imgUser{
    object-fit: cover;
    border-radius: 50px;
    position: relative;
    width: 35px;
    height: 35px;
}
.ol.breadcrumber{
    background-color: rgba(255, 255, 255, 0)!important;
}
#navegacion{
    z-index: 1;
    position: fixed;
    width: 100%;
    
}
#breadcrumber{
    --bs-breadcrumb-divider: '>';
}
#sectionBread{
    position: relative;
    padding-top: 7px;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 0;
    background-color: #f2f6fc00;
    color: white;
    
}


#encabezado{
    position: relative;
    left: 360px;
    display: inline-block;
    
    margin-top: 0;
    margin-bottom: 0;
}

#listAction{
    z-index: 1;
}