
#dropUser{
    margin-right: 60px;
}
#iconUser{
    margin-right: 20px;
}
#imgUser{
    object-fit: cover;
    border-radius: 50px;
    position: relative;
    width: 35px;
    height: 35px;
}
#nave{
    z-index: 2;
    
}
#breadcrumber{
    --bs-breadcrumb-divider: '>';
}
#sectionBread{
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
}

#encabezado{
    position: relative;
    left: 30px;
    display: inline-block;
    
    margin-top: 0;
    margin-bottom: 0;
}