<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cobros</h5>
        <button onclick="cerrarModal('#modalCobros')" type="button" class="btn" data-dismiss="modal" aria-label="Close">
          <span  aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="w3-table-all w3-card-4">
          <thead class="font-weight-bold">
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Decripción</td>
                <td>Monto</td>
                <td>Fecha</td>
                <td>Tipo de Pago</td>
                <td>Aplicacion de Beca</td>
                <td>opciones</td>
            </tr>
        </thead>
        <tbody>
          {% for p in cobros %}
          <tr>
              <td></td>
              <td>{{ p.nombre }}</td>
              <td>{{ p.descripcion }}</td>
              <td>{{ p.monto }}</td>
              
              <td>{{ p.created }}</td>
              <td>{{ p.tipo_Cobro }}</td>
              <td>{{ p.aplica_descuento }}</td>
              <td>
                  <div class="btn-group-vertical">
                  <a href="{% url 'editar_cobro' p.id %}" class="btn btn-primary btn-sm">Editar</a>
                  &nbsp;
                  <a href="{% url 'eliminar_cobro' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
  
                  <button id="SeleccionCobro" class="btn btn-primary btn-sm" onclick="cambiarValorCobro('#modalCobros', '#id_datos_cobro','{{ p.id }}',  
                  { idCobro : '{{ p.id }}', 
                  nombre :  '{{ p.nombre }}', 
                  descripcion : '{{ p.descripcion }}', 
                  monto : '{{ p.monto }}', 
                  creacion : '{{ p.created }}', 
                  tipoCobro : '{{ p.tipo_Cobro }}',
                  aplicaBeca: '{{ p.aplica_descuento }}'})">
                      Seleccionar
                  </button>
  
                  </div>
                 
              </td>
      
          </tr>
          {% endfor %}
        </tbody>
        </table>
       
        
      </div>
      <div class="modal-footer">
        <button  onclick="cerrarModal('#modalCobros')" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>