{% extends 'componentes/base.html' %}

{% load static %}

{% block title %}Registro de Pago {% endblock %}
{% block headers %}
  <link rel="stylesheet" href="{% static 'css/componentes/modalScreen.css' %}">
{% endblock headers %}
{% block seccion %}<i class="fa fa-money-check-edit-alt "></i> Registrar Pago{% endblock %}
{% block pista %}
  <li class="breadcrumb-item"><a href="{% url 'muestraGrados' %}">Pagos</a></li>
  <li class="breadcrumb-item active" aria-current="page">Registrar un Pago</li>
{% endblock %}
{% block content %}
{% include "componentes/alerts.html" %}
{% load crispy_forms_tags %}

<form action="" method="post">
  {% csrf_token %}
  <p>A well-known quote, contained in a blockquote element.</p>
  {{forms.numero_tramite|as_crispy_field}}
  {{forms.cantidad|as_crispy_field}}
  {{forms.descuento|as_crispy_field}}
  {{forms.importe_total|as_crispy_field}}
  
<div class="border  border-4">
  <div class="input-group mb-3">
    <button class="btn btn-outline-primary" type="button" onclick="abriModal('{% url 'ver_cobro' %}', '#modalCobros')">
      Buscar Cobro
    </button>
    {{forms.datos_cobro|as_crispy_field}}
  </div>
  
  <h4 >Codigo del Pago: </h4>
    <h5 id="idCobro" ></h5>
  <h4>Nombre del Pago: </h4>
    <h5 id="nombreCobro" ></h5>
  <h4>Descripcion del Pago: </h4>
    <h5 id="descripcion" ></h5>
  <h4>Monto a Pagar: </h4>
    <h5 id="monto" ></h5>
  <h4 >Tipo de Pago: </h4>
    <h5 id="tipoCobro" ></h5>
</div>

<div class="border  border-4">
  <div class="input-group ">
    <button class="btn btn-outline-primary" type="button" onclick="abriModal('{% url 'modalAlumno' %}', '#modalAlumnos')">
      Buscar Alumno
    </button>
    {{forms.datos_alumno|as_crispy_field}}  
  </div>

  <h4>Matricula: </h4>
    <h5 id="matricula" ></h5>
  <h4>Nombre: </h4>
    <h5 id="nombreAlumno"></h5>
  <h4>Apellidos: </h4>
    <h5 id="apellidos" ></h5>
  <h4>Domicilio: </h4>
    <h5 id="domicilio" ></h5>
  <h4>Carrera: </h4>
    <h5 id="carrera" ></h5>
  <h4>Telefono: </h4>
    <h5 id="telefono" ></h5>
  <h4>Email: </h4>
    <h5 id="email" ></h5>
</div>
  <div class="row align-items-center justify-content-start">
                
    <div class="d-grid gap-2">
        <input class="btn btn-lg btn-success " type="submit" value="Guardar">
    </div>


</div>
</form>




{% endblock %}

{% block modals %}
  <div class="modal fade" id="modalCobros" role="dialog">
  </div>

  <div class="modal fade" id="modalAlumnos" role="dialog">
  </div>

{% endblock modals %}

{% block scripts %}
<script  type="text/javascript" src="{% static 'js/componentes/modalScreen.js' %}"></script>  
{% endblock scripts %}