{% extends 'componentes/base.html' %}

{% load static %}

{% block title %}Registro de Pago {% endblock %}
{% block headers %}
<link rel="stylesheet" href="{% static 'css/componentes/modalScreen.css' %}">
<link rel="stylesheet" href="{% static 'css/pagos/registroPagos.css' %}">
{% endblock headers %}
{% block seccion %}<i class="fa fa-money-check-edit-alt "></i> Registrar Pago{% endblock %}
{% block pista %}
<li class="breadcrumb-item"><a href="{% url 'muestraPagos' %}">Pagos</a></li>
<li class="breadcrumb-item active" aria-current="page">Registrar un Pago</li>
{% endblock %}
{% block content %}
{% include "componentes/alerts.html" %}
{% load crispy_forms_tags %}

<form action="" method="post">
  {% csrf_token %}
  <div class="container">


      <div class="card text-center mb-3">
        <div class="card-header">
          Pago a Realizar
        </div>
        <div class="card-body">
          
        <div class="row align-items-center justify-content-start">
          <div class="col-sm-4 form-floating">
            <div class="input-group mb-3">
              <button class="btn btn-outline-primary" type="button"
                onclick="abriModal('{% url 'ver_cobro' %}', '#modalCobros')">
                Buscar Cobro
              </button>
              {{forms.datos_cobro|as_crispy_field}}
            </div>
          </div>
          <div class="col-sm-2 form-floating">
            <strong class="titulo">Numero de Tramite: </strong>
          </div>
          <div class="col-sm-2 form-floating">
            <h4 id="tramite"></h4>
          </div>
          <div class="col-sm-1 form-floating">
            {{forms.numero_tramite|as_crispy_field}}
          </div>
          <div class="col-sm-2 form-floating">
            {{forms.cantidad|as_crispy_field}}
          </div>
        </div>

        <div class="row align-items-center justify-content-start">
          <div class="col-sm-2 form-floating">
            <strong class="titulo">Codigo del Pago: </strong>
          </div>
          <div class="col-sm-2 form-floating">
            <h5 id="idCobro"></h5>
          </div>
          <div class="col-sm-2 form-floating">
            <strong>Nombre del Pago: </strong>
          </div>
          <div class="col-sm-2 form-floating">
            <h5 id="nombreCobro"></h5>
          </div>
          <div class="col-sm-4 form-floating">
            {{forms.descuento|as_crispy_field}}
          </div>
         
          
        </div>

        <div class="row align-items-center justify-content-start">
          <div class="col-sm-2 form-floating">
            <strong>Monto a Pagar: </strong>
          </div>
          <div class="col-sm-2 form-floating">
            <h5 id="monto"></h5>
          </div>
          <div class="col-sm-2 form-floating">
            <strong>Descripcion del Pago: </strong>
          </div>
          <div class="col-sm-2 form-floating">
            <h5 id="descripcion"></h5>
          </div>
          <div class="col-sm-4 form-floating">
            {{forms.importe_total|as_crispy_field}}
          </div>
         
        </div>

        <div class="row align-items-center justify-content-start">
          
          <div class="col-sm-2 form-floating">
            <strong>Tipo de Pago: </strong>
          </div>
          <div class="col-sm-2 form-floating">
            <h5 id="tipoCobro"></h5>
          </div>
        
          

        </div>

      </div>
      
        
        <div class="card-footer text-muted">
          Nota: El costo puede bajar si al alumno cuenta con una beca
        </div>
      
        </div>


      <div class="card text-center mb-3">
        <div class="card-header">
          Datos del Alumno
        </div>
        <div class="card-body">

      
        <div class="row align-items-center justify-content-start">
          <div class="col-sm-6 form-floating">
        <div class="input-group ">
          <button class="btn btn-outline-primary" type="button"
            onclick="abriModal('{% url 'modalAlumno' %}', '#modalAlumnos')">
            Buscar Alumno
          </button>
          {{forms.datos_alumno|as_crispy_field}}
        </div>
      </div>
     
      
      </div>
      
      <div class="row align-items-center justify-content-start">
        <div class="col-sm-2 form-floating">
          <strong>Matricula: </strong>
          
        </div>
        <div class="col-sm-2 form-floating">
          <h5 id="matricula"></h5>
        </div>
        <div class="col-sm-2 form-floating">
          <strong>Nombre: </strong>
        </div>
        
        <div class="col-sm-2 form-floating">
          <h5 id="nombreAlumno"></h5>
        </div>
        
        <div class="col-sm-2 form-floating">
          <strong>Apellidos: </strong>
        </div>
        
        <div class="col-sm-2 form-floating">
          <h5 id="apellidos"></h5>
        </div>
        
        
      </div>

      <div class="row align-items-center justify-content-start">
        <div class="col-sm-2 form-floating">
          <strong>Domicilio: </strong>
          
        </div>
        <div class="col-sm-2 form-floating">
          <h5 id="domicilio"></h5>
        </div>
        <div class="col-sm-2 form-floating">
          <strong>Carrera: </strong>
        </div>
        
        <div class="col-sm-3 form-floating">
          <h5 id="carrera"></h5>
        </div>
     
      </div>
      <div class="row align-items-center justify-content-start">
        <div class="col-sm-2 form-floating">
          <strong>Telefono: </strong>
        </div>
        <div class="col-sm-2 form-floating">
          <h5 id="telefono"></h5>
        </div>
        <div class="col-sm-2 form-floating">
          <strong>Email: </strong>
        </div>
        
        <div class="col-sm-2 form-floating">
          <h5 id="email"></h5>
        </div>
        
      </div>
      
    </div>
      
        
    <div class="card-footer text-muted">
      El alumno debe estar registrado
    </div>
  
    </div>
    

       
        
      
      <div class="row align-items-center justify-content-start">

        <div class="d-grid gap-2">
          <input class="btn btn-lg btn-success " type="submit" value="Guardar">
        </div>


      </div>
    
  </div>
  </div>
</form>




{% endblock %}

{% block modals %}
<div class="modal fade" id="modalCobros" role="dialog">
</div>

<div class="modal fade" id="modalAlumnos" role="dialog">
</div>

{% endblock modals %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/componentes/modalScreen.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Pagos.js' %}"></script>
{% endblock scripts %}