{% extends 'componentes/base.html' %}
{% load static %}
{% block title %}Informacion del Alumno{% endblock %}
{% block headers %}{% endblock %}
{% block seccion %}Informacion del Alumno{% endblock %}

{% block pista %}
  <li class="breadcrumb-item"><a href="{% url 'muestraAlumnos' %}">Alumnos</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{alumno.nombre}} {{alumno.apellidos}}</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-end">

        <div class="row justify-content-start">
            <div class="col-md-4">
                <div class="card" >
                    <img src="{{  alumno.imagen_perfil.url }}" class="card-img-top" alt="Imagen de Perfil">
                    <div class="card-body">
                        
                      <h5 class="card-title">
                          <strong>Nombre: </strong> {{alumno.nombre}} {{alumno.apellido_primero}} {{alumno.apellido_segundo}}
                      </h5>
                      <p class="card-title">
                        <strong>Estado: </strong>
                        {% if alumno.estado %}
                            <span class="badge bg-success">Alumno Activo</span>
                        {% else %}
                            <span class="badge bg-danger">Alumno Inactivo</span>
                        {% endif %}
                        
                      </p>
                      <p class="card-title">
                        {% if alumno.estado %}
                          {% else %}
                            <strong>Justificacion: </strong>
                            {% if alumno.justificacion_estado == "Graduado"%}
                            <span class="badge bg-success">{{alumno.justificacion_estado}}</span> 
                            {% else %}
                              {% if alumno.justificacion_estado == "Baja Temporal"%}
                                <span class="badge bg-warning text-dark">{{alumno.justificacion_estado}}</span> 
                              {% else %}
                                <span class="badge bg-danger">{{alumno.justificacion_estado}}</span> 
                              {% endif %}    

                            {% endif %}
                        {% endif %}
                      
                      </p>
                      <div class="d-grid gap-2" >
                        <a href="{% url 'editarAlumno' alumno.matricula %}" class="btn btn btn-warning">
                          Editar Datos
                        </a>
                    </div>
                      
                    </div>
                  </div>
                  
            </div>

            <div class="col-sm-8">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Datos Personales
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          
                            <li class="list-group-item">
                                    <strong class="sect">Nombre:</strong>
                                    {{alumno.nombre}}
                            </li>
                            <li class="list-group-item">
                                <strong class="sect">Apellidos:</strong>
                                {{alumno.apellido_primero}} {{alumno.materno}}
                            </li>
                            <li class="list-group-item">
                                <strong class="sect">Domicilio: </strong>
                                {{alumno.domicilio}}
                            </li>
                          
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Datos Escolares
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li class="list-group-item">
                                <strong class="sect">Matricula:</strong>
                                {{alumno.matricula}}
                            </li>
                            <li class="list-group-item">
                                <strong class="sect">Carrera:</strong>
                                {{alumno.carrera}}
                            </li>
                            <li class="list-group-item">
                                <strong class="sect">Grado:</strong>
                                {{alumno.grado}}
                            </li>
                            <li class="list-group-item">
                                <strong class="sect">Grupo:</strong>
                                {{alumno.grupo}}
                            </li>

                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Datos de Contacto
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li class="list-group-item">
                                <strong class="sect">Telefono:</strong>
                                {{alumno.telefono}}
                            </li>
                            <li class="list-group-item">
                                <strong class="sect">Email:</strong>
                                {{alumno.email}}
                            </li>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Actividad de Registro
                        </button>
                      </h2>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li class="list-group-item">
                                <strong class="sect">Fecha de Registro:</strong>
                                {{alumno.created}}
                            </li>
                            <li class="list-group-item">
                                <strong class="sect">Fecha de Edicion:</strong>
                                {{alumno.updated}}
                            </li>
                        </div>
                      </div>
                    </div>
                  </div>
          
            </div>
            


        </div>
    
    
    


        
    </div>
    


</div>

        

{% endblock %}