{% extends 'componentes/base.html' %}

{% load static %}
{% block title %}Editar Informacion del Alumno{% endblock %}
{% block seccion %}Editar Informacion del Alumno{% endblock %}
{% block pista %}
  <li class="breadcrumb-item"><a href="{% url 'muestraAlumnos' %}">Alumnos</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{alumno.nombre}} {{alumno.apellido_primero}} {{alumno.apellido_segundo}} </li>
{% endblock %}
{% block content %}
{% include "componentes/alerts.html" %} 
    {% load crispy_forms_tags %}
    
    
    <form   action="" method="POST" enctype="multipart/form-data"  >
        {% csrf_token %}

        
        <div class="container">
            <div class="row justify-content-end">
                
                
                <div class="row align-items-center justify-content-start">
                        
                    <div class="col-sm-63">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img id="profileImage" src="{{  alumno.imagen_perfil.url }}" class="img-fluid rounded-start" alt="Imagen del Perfil">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      
                                      <div class="input-group mb-3" >
                                        {{form.imagen_perfil|as_crispy_field}}
                                        </div>
                                        
                                    </div>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                        </div>
                        
                        

               
            
                <div class="row align-items-center justify-content-start">
                    
                        <div class="col-sm-6" >
                            {{form.nombre|as_crispy_field}}
                             
                        </div>
                        <div class="col-sm-6 inactive">
                            {{form.matricula|as_crispy_field}}
                        </div>
                        
                </div>

                <div class="row align-items-center justify-content-start">
                    <div class="col-sm-3" >
                        {{form.apellido_primero|as_crispy_field}}
                    </div>
                    <div class="col-sm-3" >
                        {{form.apellido_segundo|as_crispy_field}}
                    </div>
                    <div class="col-sm-3" >
                            {{form.grado|as_crispy_field}}
                        </div>
                        <div class="col-sm-3" >
                            {{form.grupo|as_crispy_field}}
                        </div>
                            
                     
                        
                </div>
                <div class="row align-items-center justify-content-start">
                    <div class="col-sm-6" >
                        {{form.telefono|as_crispy_field}}
                    </div>
                            
                        
                        <div class="col-sm-6" >
                            {{form.beca|as_crispy_field}}
                        </div>
                        
                </div>
                <div class="row align-items-center justify-content-start">
                    
              

                        <div class="col-sm-6" >
                            {{form.domicilio|as_crispy_field}}
                        </div>

                        <div class="col-sm-6" >
                            {{form.carrera|as_crispy_field}}
                            
                        </div>

                </div>
                <div class="row align-items-center justify-content-start">
                    
                
                        <div class="col-sm-6" >
                            {{form.email|as_crispy_field}}
                        </div>
                        <div class="col-sm-6" >
                            {{form.justificacion_estado|as_crispy_field}}
                        </div>

                       
                </div>
                <div class="row align-items-center justify-content-start">
                    
                
                    <div class="col-sm-6" >
                        {{form.password|as_crispy_field}}
                    </div>
                 

                   
                 </div>
                <div class="row align-items-center justify-content-start">
                    
                    <div class="col-sm-6" style="margin-top: 20px; margin-bottom: 20px;" >
                        <div class="form-check form-switch">
                            {{form.estado|as_crispy_field}}
                        </div>
                        
                    </div>
               
                   

                </div>
              
                <div class="row align-items-center justify-content-start" style="position: relative; top: 10px;" >
                    <div class="col-sm-6" >
                        
                    </div>
                    <div class="d-grid gap-2" >
                        <input class="btn btn-lg btn-success " type="submit" value="Guardar">
                    </div>
                   
                 
                </div >
                    
                
        </div>
    </div> 
        
        
    </form>
{% endblock %}
{% block scripts %}
    <script defer src="{% static 'js/formComponents.js' %}"></script>
{% endblock %}