{% extends 'componentes/base.html' %}

{% load static %}
{% block title %}Alumnos en Sistema{% endblock %}
{% block seccion %}Alumnos en Sistema{% endblock %}
{% block pista %}<li class="breadcrumb-item active" aria-current="page">Alumnos</li>{% endblock %}
{% block content %}
    {% include "componentes/alerts.html" %}     
   
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <form  method="get">      
                
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary " type="submit"><i class="fa fa-search"></i> Buscar Matricula</button>
              </div>
                <input name="buscar" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Indique la matricula a buscar" style="width: 250px;">
            </div>
                   
           </form>
    </div>
<div class="row">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Apellidos</th>
    
        <th>Estado</th>
      </tr>
    </thead>
    
    <tbody>
    {% for alumno in alumnos %}
    
      <tr>
        <td> 
          <a class="btn btn-outline-primary" href="{% url 'alumno' alumno.matricula %}">
              {{alumno.matricula}}
          </a>
        </td>
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellidos}}</td>
        <td>
          {% if alumno.estado %}
              <span class="badge bg-success">Alumno Activo</span>
          {% else %}
              <span class="badge bg-danger">Alumno Inactivo</span>
          {% endif %}
        </td>
      </tr>
    
    
    {% endfor %}
  </tbody>
  </table>
  </div>
<div class="row">
    <div class=" w3-display-bottomright " style="margin: 0px 40px 20px 0px">
        {% if alumnos.has_next or alumnos.has_previous %}
        
            <div class="w3-bar  pagination ">
                 
                 {% if alumnos.has_previous %}
                    <a href="?page={{ alumnos.previous_page_number }}" class="w3-button w3-teal">&laquo;</a>
                 {% endif %}
        
                 {% for page in alumnos.paginator.page_range %}
                   
                    <div class="{% if alumnos.number == page %}active w3-blue{% endif %}">
                        <a class="w3-button " href="?page={{ page }}">{{ page }}</a></div>
        
                 {% endfor %}
                 
                 {% if alumnos.has_next %}
                    <a href="?page={{ alumnos.next_page_number }}" class="w3-button w3-teal">&raquo;</a>
                 {% endif %}
            </div>
        </div>
        {% endif %}
    
    
    </div>
</div>


{% endblock %}

