{% extends 'componentes/base.html' %}

{% load static %}
{% block title %}Alumnos en Sistema{% endblock %}
{% block seccion %}<i class="fa fa-graduation-cap"></i> Alumnos en Sistema{% endblock %}
{% block pista %}<li class="breadcrumb-item active" aria-current="page">Alumnos</li>{% endblock %}
{% block content %}
    {% include "componentes/alerts.html" %}     
   
<div class="container" >
    
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{% url 'registroAlumnos' %}" class="btn btn-outline-secondary"><i class="fa fa-address-card"></i> Añadir Nuevo Alumno </a>
  </div>  
  <br>
    <div class="row">
        <form  method="get">      
          
      
          <div class="input-group mb-3">
              
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary " type="submit"><i class="fa fa-search"></i> Buscar Matricula</button>
              </div>
                <input name="buscar" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Indique la matricula a buscar" style="width: 250px;">
            </div>
                   
           </form>
    </div>
<div class="row">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Apellidos</th>
    
        <th>Estado</th>
      </tr>
    </thead>
    
    <tbody>
    {% for alumno in alumnos %}
    
      <tr>
        <td> 
          <a class="btn btn-outline-primary" href="{% url 'alumno' alumno.matricula %}">
              {{alumno.matricula}}
          </a>
        </td>
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellido_primero}} {{alumno.apellido_segundo}} </td>
        <td>
          {% if alumno.estado %}
              <span class="badge bg-success">Alumno Activo</span>
          {% else %}
              <span class="badge bg-danger">Alumno Inactivo</span>
          {% endif %}
        </td>
      </tr>
    
    
    {% endfor %}
  </tbody>
  </table>
  </div>
<div class="row">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if alumnos.has_next or alumnos.has_previous %}
        {% if alumnos.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ alumnos.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        {% for page in alumnos.paginator.page_range %}           
          <li class="{% if alumnos.number == page %}page-item active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}

        {% if alumnos.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ alumnos.next_page_number }}">Next</a>
          </li>
        {% endif %}
        {% endif %}
    </ul>
  </nav>
    
    
    
    </div>
</div>


{% endblock %}

