<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Muestra de Alumnos
    {% for alumno in alumnos %}
        <a href="{% url 'alumno' alumno.matricula %}">
            {{alumno.matricula}}
        </a>
        
        {{alumno.nombre}}
        {{alumno.apellidos}}
        {{alumno.grado}}
    {% endfor %}
</body>
</html>