<div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="z-index: 1;">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"> <i class="fa fa-sitemap"></i> {{carrera.carrera}}</h5>
      <button onclick="cerrarModalVista()" type="button" class="btn" data-dismiss="modal" aria-label="Close">
        <span  aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Codigo de la Carrera:</strong> {{carrera.idCarrera}}</p>
      <p><strong>Nombre de la Carrera:</strong> {{carrera.carrera}}</p>
      <p><strong>Nivel de la Carrera:</strong> {{carrera.nivel}}</p>
      <p><strong>Cantidad de Grados:</strong> {{carrera.cantidad_grados}}</p>
      <p><strong>Cantidad de Grupos:</strong> {{carrera.cantidad_grupos}}</p>
      
      <a href="{% url 'EditGrado' carrera.idCarrera %}" class="btn btn btn-warning">
       <i class="fa fa-edit"></i> Editar Datos
      </a>
    </div>
    <div class="modal-footer">
      <button  onclick="cerrarModalVista()" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      
    </div>
  </div>
</div>