{% extends 'componentes/base.html' %}

{% load static %}

{% block title %}Lista de Grados{% endblock %}
{% block headers %}
  <link rel="stylesheet" href="{% static 'css/componentes/modalScreen.css' %}">
  <link rel="stylesheet" href="{% static 'css/lista_carreras.css' %}">
  <link rel="stylesheet" href="{% static 'css/muestras.css' %}">
{% endblock headers %}
{% block seccion %}<i class="fa fa-sitemap icono"></i> Lista de Carreras{% endblock %}
{% block pista %}<li class="breadcrumb-item active" aria-current="page">Grados y Carreras</li>{% endblock %}

{% block content %}
<form  method="get">      
          
      
  <div class="input-group mb-3">
      
      <div class="input-group-prepend">
        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i> Buscar Codigo</button>
      </div>&nbsp;&nbsp;
        <input name="buscar" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Indique el codigo sa buscar" style="width: 250px;">
    </div>
           
   </form>
   <div class="row">
   <table class="table">
     <thead class="table-dark">
       <tr>
        <th>Codigo</th>
        <th>Carrera</th>
        <th>C. Grados</th>
        <th>C. Grupos</th>
        <th>Periodo</th>
       </tr>
     </thead>
     
     <tbody>
      {% for grado in grados %}
     
       <tr>
         <td> 
          <button class="btn btn-outline-primary" onclick="abriModalVista('{% url 'Grado' grado.idCarrera %}')" id="myBtn" >
            {{grado.idCarrera}}
          </button>
         </td>
         <td>{{grado.carrera}}</td>
         <td>{{grado.cantidad_grados}}</td>
         <td>{{grado.cantidad_grupos}}</td>
         <td>{{grado.periodo}}</td>
       </tr>
     
     
     {% endfor %}
   </tbody>
   </table>
   </div>

</div>

    
    {% endblock %}
      {% block modals %}
        <div class="modal fade" id="myModal" role="dialog">
      {% endblock modals %}


    {% block scripts %}
    <script  type="text/javascript" src="{% static 'js/componentes/modalScreen.js' %}"></script>  
    {% endblock scripts %}
    