{% extends 'core/baseA.html' %}

{% load static %}

{% block title %}Login{% endblock %}
{% block headers %}

    <h1>Control de Pagos</h1>
    
  
{% endblock %}

{% block content %}
<div class="main">
    <div class="col-md-8 col-sm-12">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>Nombre de Usuario</label>
                <input type="text" class="form-control" placeholder="Nombre de Usuario">
             </div>
             <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" placeholder="Contraseña">
             </div>
             <button type="submit" class="btn btn-black">Login</button>
             <button type="submit" class="btn btn-secondary">Registro</button>
          </form>
       </div>
    </div>
 </div>
  
    {% endblock %}