<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sidebar.css">
    <title>Document</title>
</head>
<body>
    <button onclick="openNav()" id="abrir" >Abrir</button>
    <div id="sidebar" class="sidebar">
        <div class="sidebarbutton" href="javaScript:void(0)" onclick="closeNav()">Cerrar</div>
        <div class="sidebarbutton" href=""></div>
        <div class="sidebarbutton" href=""></div>
        <div class="sidebarbutton" href=""></div>
    </div>
</body>
<script src="sidebar.js"></script>
</html>