<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="sidebar.css">
</head>
<body>
    <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        Link with href
      </a>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Button with data-bs-target
      </button>
      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="titulo_sidebar"> <i class="fa fa-arrow-left icono"></i> <a class="nav-link seccion"  href="#">Sistema de Pagos</a> <span class="flecha"><i class="fa fa-github-alt"></i></span></h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li id="titulo_sidebar" class="nav-item">
                   
                   
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
           
            
                <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc()">
                   <i class="fa fa-graduation-cap icono"></i> <span class="seccion">Alumnos</span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
                </button>
                
                <div id="demoAcc" class="w3-hide w3-white w3-card ">
                        <a href="{% url 'muestraAlumnos' %}" class="w3-bar-item w3-button w3-border-bottom">Lista Alumnos</a>
                        <a href="{% url 'registroAlumnos' %}" class="w3-bar-item w3-button">Registrar nuevo Alumno</a>
                </div>
               
            
              <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc1()">
                    <i class="fa fa-credit-card icono"></i> <span class="seccion">Pagos</span>  <span class="flecha"><i class="fa fa-angle-down"></i></span>
                </button>
                  <div id="demoAcc1" class="w3-hide w3-white w3-card">
                    <a href="{% url 'lista_pago' %}" class="w3-bar-item w3-button">Lista de Pago</a>
                    <a href="{% url 'registro_pago' %}" class="w3-bar-item w3-button w3-border-bottom">Registrar  Pago</a>
                      
                  </div>
            <!--boton Reportes-->
            <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc2()" >
              <i class="fa fa-file-text icono"></i> <span class="seccion">Reportes </span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
            </button>
              <div id="demoAcc2" class="w3-hide w3-white w3-card">
                  <a href="{% url 'reporte' %}" class="w3-bar-item w3-button">Lista de Reportes</a>
                  <a href="{% url 'registro' %}" class="w3-bar-item w3-button w3-border-bottom">Registrar  Reporte</a>
                  
              </div>
            <!--boton Grados y Carreras-->
            <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc3()" >
              <i class="fa fa-sitemap icono"></i> <span class="seccion">Grados y Carreras </span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
            </button>
              <div id="demoAcc3" class="w3-hide w3-white w3-card">
                  <a href="{% url 'registroGrados' %}" class="w3-bar-item w3-button w3-border-bottom">Registrar  Carrera</a>
                  <a href="{% url 'muestraGrados' %}" class="w3-bar-item w3-button">Lista de Carreras</a>
              </div>
            <!--boton Registro de Pago-->
            <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc4()" >
              <i class="fa fa-list-alt icono"></i> <span class="seccion">Registro de Pago</span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
            </button>
              <div id="demoAcc4" class="w3-hide w3-white w3-card" >
                  <a href="{% url 'registro_pago' %}" class="w3-bar-item w3-button w3-border-bottom">Registrar  Pago</a>
                  <a href="{% url 'lista_pago' %}" class="w3-bar-item w3-button">Lista de Pago</a>
              </div>
              
              <button id="btnUsr" class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc5()">
                <i class="fa fa-user icono"></i> <span class="seccion">{{request.user}}</span> <span class="flecha"><i class="fa fa-angle-down"></i></span>
              </button>
                <div id="demoAcc5" class="w3-hide w3-white w3-card">
                    <a href="{% url 'signup' %}" class="w3-bar-item w3-button w3-border-bottom">Crear Perfil</a>
                    <a href="{% url 'profile' %}" class="w3-bar-item w3-button">Configurar Perfil</a>
                    <a href="{% url 'profiles:list' %}" class="w3-bar-item w3-button">Perfiles creados</a>
                    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-danger">Cerrar Sesion</a>
                </div>
        </div>

      </div>
      <script defer src="https://kit.fontawesome.com/c6d41faad3.js" crossorigin="anonymous"></script>
      <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
