{% extends 'componentes/base.html' %}

{% load static %}
{% block title %}Inicio{% endblock %}
{% block seccion %}Inicio{% endblock %}
{% block headers %}
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="{% static 'css/index.css'%}" rel="stylesheet">
{% endblock %}



   
  {% if user.is_authenticated %}
    {% block content %}

            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">UTT</h1>
                    <h2 class="mx-auto mt-2 mb-5">CONTROL DE PAGOS</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="{% url 'lista_cobros' %}">Continuar</a>
                    <a class="btn btn-danger js-scroll-trigger" href="{% url 'logout' %}">Cerrar Sesion</a>

                </div>
            </div>
        
    {% endblock %} 
  {% else %}
    {% block contentIndex %}
           <div id="content">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="text-white-50 mx-auto my-0 text-uppercase">UTT</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">CONTROL DE PAGOS</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="{% url 'logout' %}">INICIAR</a>
                </div>
            </div>
        </div> 
    {% endblock %} 
  {% endif %}


        
