<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Nombre Escuela </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-light">Registro de Alumnos</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Registrar un Pago</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Pagos</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Reportes</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Grados y Carreras</a>
                <a id="log-out" href="#" class=" justify-content-end  list-group-item  list-group-item-action bg-danger">Cerrar Sesion</a>
            </div>

        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <!--<i class="fa fa-bars fa-2x" id="menu-toggle"></i>-->
                <button class="btn " id="menu-toggle">Nombre Escuela</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid row">

                <div class="form-group col-5">
                    <label for="name">Nombre Completo:</label>
                    <input type="text" class="form-control " id="name" placeholder="Nombre(s) Apellido(s)">
                    
                    <label for="adress">Domicilio:</label>
                    <input type="text" class="form-control " id="adress" placeholder="5 Norte #2">
                    
                    <label for="phone">Telefono:</label>
                    <input type="tel" class="form-control " id="phone" placeholder="222-547-5656">
                    
                    <label for="email">Email:</label>
                    <input type="email" class="form-control " id="email" placeholder="Example@email.com">
                  <!--  <span class="help-block">This is some help text...</span> -->
                </div>

                <div class="form-group col-2">
                    <label for="id">Matricula:</label>
                    <input type="text" class="form-control " id="id" placeholder="18460600">
                    
                    <label for="grade">Grado:</label>
                    <select class="form-select" aria-label="Grado">
                        <option selected>1°</option>
                        <option value="1">2°</option>
                        <option value="2">3°</option>
                        <option value="3">4°</option>
                    </select>

                    <label for="scholarship">Beca:</label>
                    <select class="form-select" aria-label="Beca">
                        <option value= "0" selected>0 %</option>
                        <option value="50">50 %</option>
                        <option value="100">100 %</option>
                    </select>

                    <label for="Type-Grade">Tipo de Grado:</label>
                    <select class="form-select" aria-label="Tipo de Grado">
                        <option value= "Cuatrimestre" selected>Cuatrimestre</option>
                        <option value="Semestre ">Semestre</option>
                    </select>
                </div>

                <div class="form-group col-2">
                    
                    <label for="picture">Escoja una Foto</label>
                    <input type="file" class="form-control-file" id="picture"> 

                    <label for="condition">Estado:</label>
                    <select class="form-select" aria-label="Estado">
                        <option value= "Activo" selected>Activo</option>
                        <option value="Baja">Baja</option>
                    </select>

                    
                </div>
                <!--<button type="button" class="btn btn-primary btn-lg btn-block fixed-bottom col-2">Block level button</button>-->
            </div>
            <!-- Bootstrap core JavaScript -->
            <script src="vendor/jquery/jquery-3.6.0.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
            <script src="js/index.js"></script>

</body>

</html>