:root{
    --primary: #02475e;
    --light: #ffffff;
    --grey: #efefef;
}


body {
    overflow: hidden;
    font-family: 'Muli',sans-serif;
    font-weight: 300;
    color: var(--primary);
}

.bg-primary{
    background-color: #02475e!important;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
     padding: .875rem 1.25rem;

}

#sidebar-container .menu{
    width: 18rem;
}

a:hover{
    text-decoration: none;
}
