{% extends 'pagos/base1.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}Registro Alumnos{% endblock %}
{% block headers %}Registro Alumnos{% endblock %}

{% block content %}
    {% if form.errors %}
    
        <div class="alert alert-danger" role="alert">
          A simple danger alert—check it out!
        </div>
    
    {% endif %}
        <h1 style="text-align: center;" >Registrar Pago</h1>
        <form action=" {% url 'GuardarPago' %} " method="POST">
          {% csrf_token %}

          {% if mensaje %}
            <div class="alert alert-success" role="alert">
                Pago registrado exitosamente!!!!
            </div>
          {% endif %}

          {{form|crispy}}

          <button type="button" class="btn btn-outline-primary">Guardar</button>
        </form>
  

          

{% endblock %}